# 第５章　イテラブル

## zip関数、enumerate割と便利です
 - パッキング
 - アンパッキング　
 ともに対応

In [5]:
##リストを組み合わせて使いたい
## zip

city = ["東京","名古屋","大阪","京都"]
sale = [44,323,23,2323]
print("データを組み合わせます")

for d in zip(city,sale):
    print(d)

print("データとindexを組み合わせます")

for d in enumerate(city):
    print(d)

データを組み合わせます
('東京', 44)
('名古屋', 323)
('大阪', 23)
('京都', 2323)
データとindexを組み合わせます
(0, '東京')
(1, '名古屋')
(2, '大阪')
(3, '京都')

## アンパック

In [8]:
#案パッキングできる(便利!)
for c, s in zip(city , sale):
    print("都市名は",c ,"売り上げは", s )

都市名は 東京 売り上げは 44
都市名は 名古屋 売り上げは 323
都市名は 大阪 売り上げは 23
都市名は 京都 売り上げは 2323

In [11]:
# リスト内包表記

data = [1,2,3,4,5]
print("現在のデータは", data)

ndata = [i*2 for i in data if i%2 == 0]

print("新しいデータは", ndata)

現在のデータは [1, 2, 3, 4, 5]
新しいデータは [4, 8]

In [12]:
## 高次元配列
## アクセスの仕方はjavaと同じ
data = [
    ["東京",12,212],
    ["名古屋",32,345],
    ["大阪",32,35],
    ["福岡",324,345],
]

print("現在のデータは", data)

現在のデータは [['東京', 12, 212], ['名古屋', 32, 345], ['大阪', 32, 35], ['福岡', 324, 345]]

In [19]:
for dat in data:
    print("都市別データは",dat,"です")
    for d in dat:
        print(d , end= "-")
    print()
    
print("data[1][2]",data[1][2]) 
print("data[0][0]",data[0][0])

都市別データは ['東京', 12, 212] です
東京-12-212-
都市別データは ['名古屋', 32, 345] です
名古屋-32-345-
都市別データは ['大阪', 32, 35] です
大阪-32-35-
都市別データは ['福岡', 324, 345] です
福岡-324-345-
data[1][2] 345
data[0][0] 東京

In [25]:
## practice1

data = [74,85,69,77,81]

print("最高点は", max(data))
print("最低点は", min(data))
print("平均点は", sum(data)/len(data) )

最高点は 85
最低点は 69
平均点は 77.2

In [27]:
# practice3

ndata = [i for i in data if i >= 80 ]
ndata

[85, 81]

In [30]:
## practice3

city = ["東京","名古屋","大阪","京都","福岡"]
max_temp = [32,28,27,26,27]
min_temp = [25,21,20,19,22]

for max,min,city in zip(max_temp,min_temp,city):
    print(city,"の最低気温は",min , "最高気温は",max)

東京 の最低気温は 25 最高気温は 32
名古屋 の最低気温は 21 最高気温は 28
大阪 の最低気温は 20 最高気温は 27
京都 の最低気温は 19 最高気温は 26
福岡 の最低気温は 22 最高気温は 27

In [36]:
## 辞書型まとめ

sale = {"東京":80,"名古屋":60, "京都":22 , "大阪":50, "福岡":75}
print("現在のデータは",sale , "です")

k = input("追加するキーを入力してください")
if k in sale:
    print("すでにこのキーは存在しています")
else:
    d = input("追加するデータを入力してください")
    sale[k] = d 
    print("データを追加しました")
print("現在のデータは",sale,"です") 

k = input("どのキーのデータを変更しますか")
if k in sale:
    print(k,"のデータは",sale[k],"です")
    d = input("変更するデータを選んでください")
    sale[k] = d
else:
          print("キーに対応するデータが存在しません")
print("現在のデータは",sale)

現在のデータは {'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75} です
追加するキーを入力してください12
追加するデータを入力してください1
データを追加しました
現在のデータは {'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75, '12': '1'} です
どのキーのデータを変更しますか11
キーに対応するデータが存在しません
現在のデータは {'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75, '12': '1'}

In [37]:
sale

{'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75, '12': '1'}

In [43]:
## 高度な辞書型の使い方
##メソッドなことに注意すること
sale = {"東京":80,"名古屋":60, "京都":22 , "大阪":50, "福岡":75}
print("現在のデータは",sale,"です")
print()
print("キーを表示します")
for key in sale.keys():
    print(key ,end="\t")
print()
print("値を表示します")
for value in sale.values():
    print(value , end="\t")
print()
print("値とキーを表示")
for item in sale.items():
    print(item,end="\t")

現在のデータは {'東京': 80, '名古屋': 60, '京都': 22, '大阪': 50, '福岡': 75} です

キーを表示します
東京	名古屋	京都	大阪	福岡
値を表示します
80	60	22	50	75
値とキーを表示
('東京', 80)	('名古屋', 60)	('京都', 22)	('大阪', 50)	('福岡', 75)